Flask==2.1.1
Flask-Cors==3.0.10
opencv-python==4.6.0.66
tensorflow==2.10.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
numpy==1.22.3
pickleshare==0.7.5
jsonpickle==3.0.1
openai==0.26.3
geopy==2.3.0
